/* Обнуляющий стиль */
@import "null.css";
/* Подключение шрифтов Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
/* Подключение шрифтов локально */
@font-face {
	font-family: "FSAlbertProNarrow";
	src: url("../fonts/FSAlbertProNarrow.woff2") format("woff2"), url("../fonts/FSAlbertProNarrow.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/* ================================================================== */
/* Оболочка */
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
/* Для ссылки применили inline-block и margin с подробной записью */
header a {
   display: inline-block;
	margin-top: 20px; 
	margin-bottom: 20px;
	margin-left: 850px;
}
/* Для картинки применили конкретную ширину */
header img {
	width: 200px;
}
/* Применили выравнивание и назначили max ширину блока */
#main {
	font-family: "Amatic SC", sans-serif;
	font-weight: 700;
	font-size: 66px;
	max-width: 700px;
	margin: 20px auto;
}

.subtitle {
	font-family: "Amatic SC", sans-serif;
	margin: 20px auto;
	width: 1000px;
	min-height: 50px;
	font-weight: 700;
	font-size: 30px;
}
/* Применили конкретную высоту и задали overflow: scroll */
.list {
	font-family: "Amatic SC", sans-serif;
	font-weight: 700;
	color: #330661;
	text-align: center;
	line-height: 2.5;
	font-size: 25px;
	text-decoration: underline;
	margin: 0 0 35px 0;
	letter-spacing: 1px;
	height: 200px;
	overflow: scroll;
	text-shadow: 0.3px 0.3px 0.1px rgb(21, 27, 14);
}
/* Применили отрицательный margin */
main h2 {
	font-family: "Amatic SC", sans-serif;
	font-size: 43px;
	font-weight: 700;
	padding: 0 0 0 300px;
	margin: -20px 0 15px 0;
}
/* Задали max высоту и внутренний отступ слева*/
main img {
	display: block;
	margin: 0px auto;
	width: 900px;
	max-height: 500px;
	padding: 0px 0px 0px 150px;
}
/* Применили display:none; */
.none {
	display: none;
}
/* Благодаря двум последующим селеторам, продемонстрироали схлопывание блоков */
main .small {
	font-family: "FSAlbertProNarrow", sans-serif;
	font-size: 18px;
	padding: 0px 0px 0px 200px;
	margin: 10px 0px 30px 0px;
}

main p {
	font-family: "Amatic SC", sans-serif;
	font-size: 28px;
	margin: 25px 0px 40px 0px;
	padding: 0px 20px 0px 150px;
	letter-spacing: 1px;
	text-decoration: underline;
}
/* Всем тегам span задали display: block; */
span {
	display: block;
	font-weight: 700;
	color: #a536b4;
	text-transform: uppercase;
}
footer img {
	width: 50px;
}
/* Применили внутренний display: inline для блока */
footer ul {
	display: inline;
	width: 50px;
}
/* Применили inline-block для ссылки */
footer a {
	font-family: "FSAlbertProNarrow", sans-serif;
	display: inline-block;
	font-size: 28px;
	margin: 10px 0px 0px 150px;
}

